*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libv_repExtMeshCalc.1.0.0.dylib
libv_repExtMeshCalc.1.0.dylib
libv_repExtMeshCalc.1.dylib
libv_repExtMeshCalc.dylib
libv_repExtMeshCalc.so
libv_repExtMeshCalc.so.1
libv_repExtMeshCalc.so.1.0
libv_repExtMeshCalc.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
